logs
target
packer_cache
tmp
.history
.target
.settings
bin
.classpath
.project
.cache
test-output
dist
.idea/
.idea_modules/
~*.xlsx
.DS_Store
random.dat
.metadata
.env
*.pyc
*.iml
tests/__pycache__
